{% extends 'base.html' %}
{% block content %}

<h1>Predator Details</h1>

<div class="row">
  <div class="col s6 col-offset-3">
    <div class="card">
      <div class="card-content">
        <span class="card-title">{{ predator.commonName }}</span>
        <p>Description: {{ predator.description|linebreaks }}</p>
      </div>
      <div class="card-action">
        <a href="{% url 'predators_update' predator.id %}">Edit</a>
        <a href="{% url 'predators_delete' predator.id %}">Delete</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}